body {
    font-family: "Raleway";
    padding: 0;
    margin: 0;
}

#link-button {
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

#card {
    margin-right: 0.5%;
    margin-left: 0.5%
}

p {
    font-family: "Raleway";
    font-weight: 500;
}

button {
    font-family: "Raleway";
    font-weight: 500;
}

#nav-container {
    border-radius: 10px;
}
